<div ba-panel      
     ba-panel-title="Add Release."
     ba-panel-class="with-scroll">
    <div class="form-horizontal" ng-controller="AddReleasesCtrl">
        <div class="form-group">            
            <table class="table"> 
                <tr>
                    <td style="text-align: left">
                        <button  for="table1" class="btn btn-primary" ng-click="addRelease()">Add New Release</button> 
                    </td>
                    <td style="text-align: right">        
                        <button for="table1" progress-button="loadTable()" pb-direction="horizontal" class="btn btn-primary"><i class="ion-refresh"></i></button>
                    </td>
                </tr>
            </table>
                      
            <table col-resizeable name="table1" st-table="releases" class="table table-bordered table-hover" > 
                <thead>
                    <tr class="sortable header-row black-muted-bg">
                        <th class="table-id">Index</th>
                        <th>Release Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="release in releases" class="editable-row">
                        <td class="table-id">
                            {{$index}}
                        </td>                    
                        <td>                        
                            <span editable-text="release.releaseName" name="releasenames" e-name="releasenames" e-form="rowform" e-required>
                                {{release.releaseName}}
                            </span>                       
                        </td>
                        <td class="select-td">
                            <span editable-text="release.desc1" e-name="releasedesc" e-form="rowform">
                                {{release.desc1}}
                            </span>
                        </td>                    
                        <td>                            
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"  shown="inserted == release" onaftersave="persistRelease($index,rowform)">
                                <button type="submit" id="saveButton"  name="saveButton" e-name="saveButton" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" >
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRelease($index, releasenames)">Delete</button>
                            </div>                        
                        </td>
                    </tr>
                </tbody>              
            </table>
        </div>
    </div>
</div>
