

<div
    ba-panel
    ba-panel-title="Select Stages"
    ba-panel-class="with-scroll">

    <div class="form-horizontal" ng-controller="JsonUrlsCtrl">
        <div class="form-group">
            <label for="inputid3" class="col-sm-1 control-label">Releases</label>
            <div class="col-sm-2">
                <select id="inputid3" ng-model="selectedRelease" class="form-control selectpicker" data-live-search="true" ng-change="selectStage()">    
                    <option value="">---Please select---</option>
                    <option ng-repeat="release in releases" ng-value="release.releaseName">{{release.releaseName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputid4" class="col-sm-1 control-label">Stage</label>                
            <div class="col-sm-2">
                <select id="inputid4" ng-model="selectedStage" class="form-control selectpicker" data-live-search="true" ng-change="selectProducts()" >  
                    <option value="">---Please select---</option>
                    <option ng-repeat="stage in stages" ng-value="stage.id">{{stage.stageName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputid5" class="col-sm-1 control-label">Product</label>                
            <div class="col-sm-2">
                <select id="inputid5" ng-model="selectedProduct" class="form-control selectpicker" data-live-search="true" ng-change="displayShiphomes()" >  
                    <option value="">---Please select---</option>
                    <option ng-repeat="product in products" ng-value="platform.productName">{{product.productName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputid6" class="col-sm-1 control-label">Platform</label>                
            <div class="col-sm-2">
                <select id="inputid6" ng-model="selectedPlatform" class="form-control selectpicker" data-live-search="true" ng-change="displayShiphomes()" >  
                    <option value="">---Please select---</option>
                    <option ng-repeat="platform in platforms" ng-value="platform.id">{{platform.name}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="panel-body form-group has-success">
            <label for="inputSuccess2" class="col-sm-1 control-label">JSon Url</label>            
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" ng-value="jsonurl">
                <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true"></i>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
        </div>

        <div  class="panel-body form-group has-success">
            <div class="panel-heading clearfix"><h3 class="panel-title">JSonData Size: {{tempShiphomes.length}}</h3>  <br>          
                <pre class="col-sm-10">{{tempShiphomes | json:4}}</pre>
            </div>
        </div>
    </div>
</div>
