<div ba-panel      
     ba-panel-title="Add Stage."
     ba-panel-class="with-scroll">
    <div class="form-horizontal" ng-controller="AddStagesCtrl">
        <div class="form-group">
            <table class="table"> 
                <tr>
                    <td style="text-align: left">
                        <div class="col-sm-3">
                            <select ng-model="selectedRelease" class="form-control selectpicker" ng-change="loadTable()">    
                                <option value="">Select Release</option>
                                <option ng-repeat="r in releases" ng-value="r.releaseName">{{r.releaseName}}</option>
                            </select>
                        </div>
                        <button  for="table1" class="btn btn-primary" ng-click="addStage()">Add New Stage</button>
                    </td>
                    <td style="text-align: right">        
                        <button for="table1" progress-button="loadTable()" pb-direction="horizontal" class="btn btn-primary"><i class="ion-refresh"></i></button>
                    </td>
                </tr>
            </table>

            <table col-resizeable  name="table1" st-table="stages" class="table table-bordered table-hover">
                <thead>
                    <tr class="sortable header-row black-muted-bg">
                        <th class="table-id">Index</th>
                        <th>Stage Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stage in stages" class="editable-row">
                        <td class="table-id">
                            {{$index}}
                        </td>                    
                        <td>                        
                            <span editable-text="stage.stageName" id="stagenames" name="stagenames" e-name="stagenames" e-form="rowform" e-required>
                                {{stage.stageName}}
                            </span>                       
                        </td>
                        <td class="select-td">
                            <span editable-text="stage.comments" e-name="stagecomments" e-form="rowform">
                                {{stage.comments}}
                            </span>
                        </td>                    
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"  shown="inserted == stage" onaftersave="persistStage($index,rowform)">
                                <button type="submit" id="saveButton"  name="saveButton" e-name="saveButton" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" >
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeStage($index)">Delete</button>
                            </div>                        
                        </td>
                    </tr>
                </tbody>              
            </table>
        </div>
    </div>
</div>
