<div ba-panel      
     ba-panel-title="Add Stage."
     ba-panel-class="with-scroll">
    <div class="form-horizontal" ng-controller="AddShiphomeNamesCtrl">
        <div class="form-group">
            <table class="table"> 
                <tr>
                    <td style="text-align: left">
                        <div class="col-sm-3">
                            <select ng-model="selectedRelease" class="form-control selectpicker" ng-change="loadTable()">    
                                <option value="">Select Release</option>
                                <option ng-repeat="r in releases" ng-value="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="selectedProduct" class="form-control selectpicker" ng-change="loadTable()">    
                                <option value="">Select Product</option>
                                <option ng-repeat="r in products" ng-value="r.id">{{r.name}}</option>
                            </select>
                        </div>
                        <button  for="table1" class="btn btn-primary" ng-click="addRow()">Add ShiphomeNames</button>
                    </td>
                    <td style="text-align: right">        
                        <button for="table1" progress-button="loadTable()" pb-direction="horizontal" class="btn btn-primary"><i class="ion-refresh"></i></button>
                    </td>
                </tr>
            </table>

            <table col-resizeable  name="table1" st-table="stages" class="table table-bordered table-hover">
                <thead>
                    <tr class="sortable header-row black-muted-bg">
                        <th class="table-id">#</th>                        
                        <th>Platform</th>
                        <th>Component</th>
                        <th>ShiphomeName</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in shiphomeNames" class="editable-row">
                        <td class="table-id">
                            {{$index}}
                        </td>     
                        <td>
                            <span editable-select="s.platform.id" e-name="platformName" e-form="rowform" e-selectpicker
                                  e-ng-options="p.id as p.name for p in platforms">
                                {{selectPlatform(s.platform)}}
                            </span>
                        </td>            

                        <td>                        
                            <span editable-select="s.component.id" e-name="componentName" e-form="rowform" e-selectpicker
                                  e-ng-options="p.id as p.name for p in components">
                                {{selectComponent(s.component)}}
                            </span>                     
                        </td>

                        <td>
                            <span editable-text="s.name" e-name="shiphomeName" e-form="rowform">
                                {{s.name}}
                            </span>                             
                        </td> 
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"  shown="inserted == s" onaftersave="persist($index,rowform)">
                                <button type="submit" id="saveButton"  name="saveButton" e-name="saveButton" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" >
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeStage($index)">Delete</button>
                            </div>                        
                        </td>
                    </tr>
                </tbody>              
            </table>
        </div>
    </div>
</div>
