<div ba-panel      
     ba-panel-title="Trigger Stage."
     ba-panel-class="with-scroll">
    <div class="form-horizontal" ng-controller="StageRunCtrl as products" >    
        <div class="form-group">
            <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Releases</label>
            <div class="col-sm-2">
                <select id="inputEmail3" ng-model="selectedRelease" class="form-control selectpicker" data-live-search="true" ng-change="getStages()">    
                    <option value="">---Please select---</option>
                    <option ng-repeat="r in releases" ng-value="r.releaseName">{{r.releaseName}}</option>
                </select>
            </div>
            </div>
            
            <div class="form-group">
            <label for="inputEmail4" class="col-sm-2 control-label">Stages</label>
            <div class="col-sm-2">
                <select id="inputEmail4" ng-model="selectedStage" class="form-control selectpicker" data-live-search="true" ng-change="getProducts()">    
                    <option value="">---Please select---</option>
                    <option ng-repeat="r in stages" ng-value="r.id">{{r.stageName}}</option>
                </select>
            </div>
            </div>
            
            <div class="form-group">
            <label for="inputEmail5" class="col-sm-2 control-label">Products</label>
            <div class="col-sm-2">
                <select id="inputEmail5" ng-model="selectedProduct" class="form-control selectpicker" data-live-search="true" ng-change="getProducts()">    
                    <option value="">---Please select---</option>
                    <option ng-repeat="r in products" ng-value="r.id">{{r.productName}}</option>
                </select>
            </div>
            </div>
            
            <button  for="table1" class="btn btn-primary" ng-click="addRelease()">TriggerRegress</button>  
        </div>
        
    </div>  
</div>